* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  main {
    padding: 16px;
  }

  footer {
    padding: 24px 0px;
  }

  img {
    height: 200px;
  }

  nav {
    border-bottom: 1px solid black;
    padding: 16px;
  }

  li {
    list-style-position: inside;
  }

  h1 {
    padding: 12px 0px;
  }

  h2 {
    padding: 12px 0px;
  }

  ol {
    padding-left: 20px;
  }

  h3 {
    padding: 12px 0px;
  }
